APP_NAME=FomoStore
APP_ENV=local
APP_KEY=base64:njD2jeP3E2Ggq80RDx3v8zhTJI/v9uEwDvL1glXfLF0=
APP_DEBUG=false
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=fomo_db
DB_PORT=5432
DB_DATABASE=fomo_store
DB_USERNAME=root
DB_PASSWORD=rootpassword

CACHE_STORE=file
QUEUE_CONNECTION=sync

SESSION_DRIVER=array

FILESYSTEM_DISK=local

BROADCAST_CONNECTION=log

MAIL_MAILER=log